<button onclick="myFunction()" class="btn btn-primary vertical-center" style="border-radius: 30px;">Show map ◐</button>

<div class="banner mt-3">
<div class="row padding-landing" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1590166045671-9bb0c0a76ea4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); background-size: 1449px auto;">
      <div class="col-12 title-index-padding">
        <h1 class="landing-page-title">Work from home.</h1>
        <h1 class="landing-page-title-2 typing-effect"><strong>Anywhere.</strong></h1>
      </div>
    </div>

<div class="flex-container">
  <div class="col-sm-7">
    <!-- flat cards section -->
        <div class="row">
          <% @workspaces.each do |workspace| %>
          <div class="col-md-4">
            <a class="plain-link" href="<%= workspace_path(workspace) %>">
              <div class="flat-card">
                <% if workspace.photos.attached? %>
                  <div class="flat-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path workspace.photos[0].key, crop: :fill %>')"></div>
                <% else %>
                  <div class="flat-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1542315192-1f61a1792f33?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')"></div>
                <% end %>
              <% if user_signed_in? %>
                <% if current_user.favourites.find_by(workspace_id: workspace.id) %>
                  <%= link_to favourite_path(current_user.favourites.find_by(workspace_id: workspace.id)), style: "color: #FF0000; position: absolute; top: 4px; right: 8px; opacity: 0.8", class: "my-0", data: {turbo_method: :delete} do %>
                  <i class="fa-solid fa-heart fa-lg"></i>
                  <% end %>
                <% else %>
                <%= link_to favourites_path(workspace_id: workspace.id), style: "color: #FFFFFF; position: absolute; top: 4px; right: 8px; opacity: 0.8", class: "my-0", data: {turbo_method: :post} do %>
                  <i class="fa-regular fa-heart fa-lg"></i>
                  <% end %>
                <% end %>
              <% end %>
                <div class="flat-card-content" style="overflow: hidden;">



                  <div class="booking-workspace-title">
                    <h4><%= workspace.name %></h4>
                  </div>
                  <div class="flex-align booking-medium-text">
                    <p><%= workspace.address %></p>
                  </div>
                  <div class="flex-align">
                    <div class="align-items booking-small-text bold">
                      <span>£<%= workspace.price%>0 / day</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
        </div>
  </div>

  <div class="col-sm-5">
    <div id="map"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    style="width: 98%; height: 600px; margin: 10px;"
    data-map-markers-value="<%= @markers.to_json %>">
    ></div>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("map");
  if (x.style.display === "none") {
    x.style.display = "block";
    x.style.visibility = "visible";
  } else {
    x.style.display = "none";
    x.style.visibility = "hidden";
  }
}
</script>
