<h1>Workspaces</h1>

<div class="map" style="background-image: url('https://static.israel21c.org/www/uploads/2021/02/WeWork_Azrieli_Town_-_main.jpg')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @workspace.name %></h1>
        <p class="flat-show-address"><%= @workspace.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this desk to rent...</h3>
        <p><%= @workspace.description %></p>
        <div class="map" style="background-image: url('https://cdn.autonomous.ai/static/upload/images/common/upload/20210918/10-Gaming-Desk-Setup-Hacks-for-Every-Gamer_55ff4d6937e.jpg'")></div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this workplace!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-info mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <% if @workspace.booking_status %>
            <p><font color="green"><%= "Available" %></font></p>
            <% else %>
            <p><font color="red"><%= "Unavailable" %></font></p>
            <% end %>
          </div>
          <div class="flex ms-3">
            <%= @workspace.price %>€
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
